@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body{
    font-family: 'Raleway', sans-serif;
    background-color: whitesmoke;
}
header {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
background: #5f9fab; /* Old browsers */
background: -moz-linear-gradient(top,  #5f9fab 0%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #5f9fab 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #5f9fab 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}
header a{
    color:whitesmoke;
}
header a:hover{
    color:whitesmoke;
    text-decoration: none ;
}
header .navbar-brand{
    padding-left: 25px;
}




header #accountTopInfo a{
    color: #666;
}



.custom-control-input:checked,.btn.btn-primary{
    background-color: #5F9FAB;
    border: #5F9FAB;
}
.btn.btn-yellow{
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e59f3d+0,f2be3f+100 */
background: #f2be3f; /* Old browsers */
background: -moz-linear-gradient(top,  #e59f3d 0%, #f2be3f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e59f3d 0%,#f2be3f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e59f3d 0%,#f2be3f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e59f3d', endColorstr='#f2be3f',GradientType=0 ); /* IE6-9 */

    border-color: #fac031;
}
.btn-outline-primary.green {
    border-color: #5F9FAB;
    color: #5F9FAB;
}
.btn-outline-primary.green:hover {
    background-color: #5F9FAB;
    color: whitesmoke;
}
.bold{
    font-weight: bold;
}
.center {
    text-align: center;
}
.left{
    text-align: left;
}
.yellow{
    color : #fac031;
}
.red {
    color : #d87c7c;
}
.green {
    color: #7ea6ad;
}
.white {
    color: #fff;
}
.alert {
    background:none !important;
    border : none;
}
.btn.btn-nobg {
    background: none;
}
nav .breadcrumb{
    background: none;
}


/** modal */

#amModal .modal-footer .btn {
    margin-left: 3px;;
}

/** table */

table.table {
    border-collapse: separate;
    border-spacing: 0 3px;
}

table.table  td, table.table th {
    margin-top:3px;
    border: none !important;
    border-top: none !important;
    border-bottom: none !important;
    
}

table.table tbody tr:hover{
    opacity: 0.99;
    border: 1px solid whitesmoke;
    font-weight: bold;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
text-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);;
}
table.table tbody tr td{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9b9898+0,bfbfbf+100 */
background: #9b9898; /* Old browsers */
background: -moz-linear-gradient(top,  #9b9898 0%, #bfbfbf 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #9b9898 0%,#bfbfbf 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #9b9898 0%,#bfbfbf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9898', endColorstr='#bfbfbf',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
    margin-top: 2px;
    color : whitesmoke;
    
    
}
table.green tbody tr td {
     /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
background: #5f9fab; /* Old browsers */
background: -moz-linear-gradient(top,  #5f9fab 0%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #5f9fab 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #5f9fab 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
cursor: pointer;
    margin-top: 2px;
    color : whitesmoke;
}



/** dashboard */

#medientPersonalInfoOptions,#medientAddContactOptions{
    
    margin-top: -36px;
}
#medientPersonalInfoOptions i,#medientAddContactOptions i{
    font-size: 1.3em;
}

#medientOverview tbody tr td,#medientOverview thead tr th{
    text-align: center;
}
table.table tbody tr :nth-child(1),table.table thead tr :nth-child(1) {
    text-align: left !important;
    border-radius: 10px 0px 0px 10px;
  }

  table.table tbody tr :last-child {
    border-radius : 0 10px 10px 0 !important;
  }
  #medientOverview thead tr :nth-child(2) {
    color: #9b9898;
}
  #medientOverview thead tr :nth-child(3) {
      color: #d87c7c;
  }
  #medientOverview tbody tr :nth-child(3) {
    text-align: center;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d64d4d+0,d87c7c+100 */
background: #d87c7c ; /* Old browsers */
background: -moz-linear-gradient(top,  #d64d4d 0%, #d87c7c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #d64d4d 0%,#d87c7c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #d64d4d 0%,#d87c7c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d64d4d', endColorstr='#d87c7c',GradientType=0 ); /* IE6-9 */

  }
  #medientOverview thead tr :nth-child(4) {
    color: #f2be3f;
}
  #medientOverview tbody tr :nth-child(4) {
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e59f3d+0,f2be3f+100 */
background: #f2be3f; /* Old browsers */
background: -moz-linear-gradient(top,  #e59f3d 0%, #f2be3f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e59f3d 0%,#f2be3f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e59f3d 0%,#f2be3f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e59f3d', endColorstr='#f2be3f',GradientType=0 ); /* IE6-9 */

  }
  #medientOverview thead tr :nth-child(5) {
    color: #7ea6ad;
}
  #medientOverview tbody tr :nth-child(5) {
   
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#429caa+0,7ea6ad+100 */
background: #7ea6ad; /* Old browsers */
background: -moz-linear-gradient(top,  #429caa 0%, #7ea6ad 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #429caa 0%,#7ea6ad 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #429caa 0%,#7ea6ad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#429caa', endColorstr='#7ea6ad',GradientType=0 ); /* IE6-9 */

  }

  #checkList{
      padding : 15px;
      margin-top: 15px;
  }


  #medientPersonalInfo input[type="text"]:disabled, .medient_contact input[type="text"]:disabled{
      color : whitesmoke;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9b9898+0,bfbfbf+100 */
background: #9b9898; /* Old browsers */
background: -moz-linear-gradient(top,  #9b9898 0%, #bfbfbf 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #9b9898 0%,#bfbfbf 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #9b9898 0%,#bfbfbf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9898', endColorstr='#bfbfbf',GradientType=0 ); /* IE6-9 */

  }
  #medientAddContactForm .medientContactOptions{
      display: none;
  }
  .medient_contact .medientEditDeleteContact{
      display: none;
  }
  .medient_contact:hover .medientEditDeleteContact{
    display: block;
}
.medientContactOptions {
    margin-top:-7px;
}

/** targets */
#targetsSearchContainer input{
    border: none;
}
#targetsSearchContainer{
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul#targetCategoriesTabs{
    background: rgb(226,226,226);
    background: linear-gradient(0deg, rgba(226,226,226,1) 0%, rgba(203,203,203,0) 55%);
    margin-top: 25px;
}

ul#targetCategoriesTabs li.nav-item{
    box-shadow: 0px -6px 19px rgb(226,226,226);
    width: 300px;
    text-align: center;
   
}
ul#targetCategoriesTabs li.nav-item a{
    color: rgb(133, 133, 133);
}

ul#targetCategoriesTabs li.nav-item.active{
    background-color: whitesmoke;
}

div.tab-content {
    background: linear-gradient(0deg, rgba(245,245,245,1) 0%,rgba(255,255,255,1)  85%);padding:35px;z-index: 99;
}

div#targetCategoriesContent h2{
    color: #5f9fab;
    text-align: center;
}
button.btn.addTarget,button.btn#addTargetLevel {
    margin-top:5px;
    border: 2px dashed #ccc;
    color: #ccc !important;
    text-align: center;
}
button.btn.addTarget:hover,button.btn#addTargetLevel:hover{
    background-color: #fff;
    color: darkgrey !important;
    border-color: darkgrey !important;
    cursor: pointer;
}
.targetContainer{
    margin-top:5px;
}
.targetContainer .targetOptions{
    display:none;
}
.targetContainer:hover .targetOptions{
    display:block;
}
div#addSubject{
    border: 3px dashed #ccc;
    color: #ccc;
    height: 250px;
    border-radius: 5px;
}
div#addSubject:hover{
    background-color: #fff;
    color: darkgrey;
    border-color: darkgrey;
    cursor: pointer;
}
div#addSubject p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

div.subjectContainer div.subjectOptions{
    display: none;
}
div.subjectContainer:hover div.subjectOptions{
    display: block;
}
/** accounts */
#accountsMain .table thead :nth-child(1) {
    width : 250px;
}

#accountsMain .table thead :nth-child(2) {
    width : 250px;
}

#accountsMain .table tr:hover {
    cursor:pointer;
}

@media (max-width: 768px) {
    main {
        margin-top: 155px;
    }
    header #accountTopInfo {
        background-color: #eaecef;
        margin : 10px;
        padding:10px;
        border-radius: 5px;
        position: absolute;
        top:50px;
        right: 10px;
    }
    #headerNav{
        display: none;
        position: relative;
        margin-top :50px;
        margin-bottom: 25px;
        padding-left: 30px;
    }
    #headerNav li{
        font-size: 1.2em;
    }
    header #headerNav li{
        list-style: none;
        display: inline;
        padding-right: 15px;
    }
    body{
        font-size: smaller;
    }
    #headerNavShow{
        display:block;
        position: absolute !important;
        right: 25px;
    }
    .medient-contact{
        border-top:1px solid #ccc;
        margin-top: 15px;
    }
}
#headerNavShow .btn{
    color: whitesmoke;
}
@media (min-width: 768px) {
    main {
        margin-top: 85px;
    }
    main.container-fluid{
        padding-left: 55px;
        padding-right: 55px;
    }
    header #accountTopInfo {
        background-color: #eaecef;
        padding: 10px;
        border-radius: 5px;
        position: absolute;
        right: 55px;
        top : 85px;
        color: #666;
    }
    header #headerNav li{
        list-style: none;
        display: inline;
        padding-right: 55px;
    }
    #headerNav{
        display: block;
        position: absolute;
        right: 10px;
       
        
        
    }
    
    #headerNavShow{
        display:none;
    }
}