@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body{
    font-family: 'Raleway', sans-serif;
    background-color: whitesmoke;
}
header {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
background: #5f9fab; /* Old browsers */
background: -moz-linear-gradient(top,  #5f9fab 0%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #5f9fab 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #5f9fab 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}
header a{
    color:whitesmoke;
}
header a:hover{
    color:whitesmoke;
    text-decoration: none ;
}
header .navbar-brand{
    padding-left: 25px;
}
header #headerNav {
    position: absolute;
    right: 10px;
}
header #headerNav li{
    list-style: none;
    display: inline;
    padding-right: 55px;
}

header #accountTopInfo {
    position: absolute;
    right: 55px;
    top : 85px;
    color: #666;
}
header #accountTopInfo a{
    color: #666;
}

main {
    margin-top: 85px;
}
main.container-fluid{
    padding-left: 55px;
    padding-right: 55px;
}
.custom-control-input:checked,.btn.btn-primary{
    background-color: #5F9FAB;
}
.btn.btn-yellow{
    background-color: #fac031;
    border-color: #fac031;
}
.yellow{
    color : #fac031;
}
.red {
    color : darkred;
}
.green {
    color: darkgreen;
}
.btn.btn-nobg {
    background: none;
}
nav .breadcrumb{
    background: none;
}
#accountTopInfo {
    background-color: #eaecef;
    padding: 10px;
    border-radius: 5px;;
}

/** dashboard */

#medientPersonalInfoOptions,#medientAddContactOptions{
    
    margin-top: -36px;
}
#medientPersonalInfoOptions i,#medientAddContactOptions i{
    font-size: 1.3em;
}
#medientOverview table tbody{
    border-spacing: 0 4px!important;
}
#medientOverview table tbody tr:hover{
    opacity: 0.75;
}
#medientOverview table tbody tr td{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9b9898+0,bfbfbf+100 */
background: #9b9898; /* Old browsers */
background: -moz-linear-gradient(top,  #9b9898 0%, #bfbfbf 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #9b9898 0%,#bfbfbf 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #9b9898 0%,#bfbfbf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9898', endColorstr='#bfbfbf',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
    margin-top: 2px;
    color : whitesmoke;
    
    
}
#medientOverview tbody tr :nth-child(1) {
    text-align: left;
    border-radius: 10px 0px 0px 10px;
  }

  #medientOverview tbody tr :nth-child(3) {
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d64d4d+0,d87c7c+100 */
background: #d87c7c ; /* Old browsers */
background: -moz-linear-gradient(top,  #d64d4d 0%, #d87c7c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #d64d4d 0%,#d87c7c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #d64d4d 0%,#d87c7c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d64d4d', endColorstr='#d87c7c',GradientType=0 ); /* IE6-9 */

  }
  
  #medientOverview tbody tr :nth-child(4) {
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e59f3d+0,f2be3f+100 */
background: #f2be3f; /* Old browsers */
background: -moz-linear-gradient(top,  #e59f3d 0%, #f2be3f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e59f3d 0%,#f2be3f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e59f3d 0%,#f2be3f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e59f3d', endColorstr='#f2be3f',GradientType=0 ); /* IE6-9 */

  }
  
  #medientOverview tbody tr :nth-child(5) {
   
    border-radius : 0 10px 10px 0 !important;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#429caa+0,7ea6ad+100 */
background: #7ea6ad; /* Old browsers */
background: -moz-linear-gradient(top,  #429caa 0%, #7ea6ad 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #429caa 0%,#7ea6ad 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #429caa 0%,#7ea6ad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#429caa', endColorstr='#7ea6ad',GradientType=0 ); /* IE6-9 */

  }

  #checkList{
      padding : 15px;
      margin-top: 15px;
  }


  #medientPersonalInfo input[type="text"]:disabled, .medient_contact input[type="text"]:disabled{
      color : whitesmoke;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9b9898+0,bfbfbf+100 */
background: #9b9898; /* Old browsers */
background: -moz-linear-gradient(top,  #9b9898 0%, #bfbfbf 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #9b9898 0%,#bfbfbf 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #9b9898 0%,#bfbfbf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9898', endColorstr='#bfbfbf',GradientType=0 ); /* IE6-9 */

  }
  #medientAddContactForm .medientContactOptions{
      display: none;
  }
  .medient_contact .medientEditContact{
      display: none;
  }
  .medient_contact:hover .medientEditContact{
    display: block;
}
.medientContactOptions {
    margin-top:-7px;
}