<section class="pageContent" id="accounts">
  <section class="pageHeader">
    <h4 class="pageName name">Accounts</h4>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Accounts</li>
      </ol>
    </nav>
  </section>
  <div class="row" id="accountsMain">
    <div class="col-md-8">
          <span class="icon text-muted" style="position: absolute; top: 50%; margin-top: -12px; right: 30px;"><i class="fa fa-search"></i></span>
          <input type="search" id="search" class="form-control shadow" style="background: none; width: 400px;  padding-left: 15px;" placeholder="Zoek in alle" />
     
      <ul class="nav nav-tabs" id="targetCategoriesTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active h4" style="margin-bottom:0 !important;" href="#accountsMedients" data-toggle="tab"  role="tab" aria-controls="accountsMedients" aria-selected="true">Medienten</a>
        </li>
        <li class="nav-item">
            <a class="nav-link h4" style="margin-bottom:0 !important;" href="#accountsTeammembers" data-toggle="tab"  role="tab" aria-controls="accountsTeammembers" aria-selected="false">Teammembers</a>
        </li>
    </ul>
    <div class="tab-content" id="accountsContent">
        <div class="tab-pane fade show active" id="accountsMedients" data-category="work" role="tabpanel" aria-labelledby="accountsMedients-tab">
          
          <div id="medientList"></div>
        </div>
        <div class="tab-pane fade" id="accountsTeammembers" role="tabpanel" aria-labelledby="accountsTeammemberstab">
         
          <div id="teamList"></div>
        </div>
       
    </div>
      
      
    </div>
    <div class="col-md-4">
      <button class="btn btn-block btn-outline-primary green shadow" id="newAccount"><i class="fas fa-user-plus"></i> Account Aanmaken</button>
    </div>
  </div>
</section>
