<section class="pageContent" id="accounts">
  <section class="pageHeader">
    <h4 class="pageName name">Accounts</h4>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Accounts</li>
      </ol>
    </nav>
  </section>
  <div class="row" id="accountsMain">
    <div class="col-md-8">
      <h4 class="h2">Alle</h4>
      <div class="box" style="position: absolute; right: 10%; top: 0;">
        <div class="container-1">
          <span class="icon" style="position: absolute; top: 50%; margin-top: -12px; right: 10px;"><i class="fa fa-search"></i></span>
          <input type="search" id="search" class="shadow" style="background: none; height: 35px; width: 400px; border: solid 1px #666; padding-left: 15px; border-radius: 5px;" placeholder="Zoek in alle" />
        </div>
      </div>
      <h5 class="h5">Team Members</h5>
      <div id="teamList"></div>
      <h5 class="h5">Medienten</h5>
      <div id="medientList"></div>
    </div>
    <div class="col-md-4" style="padding-top: 50px;">
      <button class="btn btn-block btn-outline-primary" id="newAccount"><i class="fas fa-user-plus"></i> Account Aanmaken</button>
    </div>
  </div>
</section>
