<section class="pageContent" id="accounts">
  <section class="pageHeader">
    <h4 class="pageName name">Accounts</h4>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Accounts</li>
      </ol>
    </nav>
  </section>
  <div class="row" id="accountsMain">
    <div class="col-md-12">
          
          
          <div>
            <input type="search" id="search" class="form-control" style="background: none; width:35%;  padding-left: 15px;" placeholder="Zoek in alle accounts" />
            <div id="newAccount" class="btn btn-primary h3 pointer float-right"><i class="fas fa-user-plus"></i> Account Aanmaken</a></div>
          </div>
      <ul class="nav nav-tabs" id="targetCategoriesTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active h4" style="margin-bottom:0 !important;" id="accountsMedientsTab" href="#accountsMedients" data-toggle="tab"  role="tab" aria-controls="accountsMedients" aria-selected="true">Medienten</a>
        </li>
        <li class="nav-item">
            <a class="nav-link h4" style="margin-bottom:0 !important;" id="accountsTeammembersTab" href="#accountsTeammembers" data-toggle="tab"  role="tab" aria-controls="accountsTeammembers" aria-selected="false">Teammembers</a>
        </li>
    </ul>
    <div class="tab-content" id="accountsContent">
      
      
        <div class="tab-pane fade show active" id="accountsMedients" data-category="work" role="tabpanel" aria-labelledby="accountsMedients-tab"  style="padding:15px;">
          
          <div id="medientList"></div>
        </div>
        <div class="tab-pane fade" id="accountsTeammembers" role="tabpanel" aria-labelledby="accountsTeammemberstab" style="padding:15px;">
         
          <div id="teamList" style="margin:15px;"></div>
        </div>
       
    </div>
      
      
    </div>
    
  </div>
</section>
