<section id="medientDashboard" class="container-fluid">
    
  <div class="row" style="padding:10px;"> 
    <div class="btn btn-green  pointer white left" id="medientAdditionalInfo" ><i class="fas fa-pen"></i> Gegevens <b class="medientName"></b></div>
</div>
  <div class="row">
      <div class="col-md-3">
        <h3>Persoonlijk</h3> 
        <div class="float-right" id="medientPersonalInfoOptions">
          <span id="medientEdit">
            <button class="btn btn-nobg yellow" id="medientEditBtn">
              <i class="fas fa-user-edit"></i>
            </button>
          </span>
          <span id="medientSave" style="display: none;">
              <button class="btn btn-nobg green" id="medientSaveBtn"><i class="fas fa-check"></i></button>
              <button class="btn btn-nobg red" id="medientEditCancelBtn"><i class="fas fa-times"></i></button>
          </span>
        </div>
          <form id="medientPersonalInfo">

          </form>
      </div>
      <div class="col-md-3" id="medientPersonalInfoContainer">
        <h3>Contacten (<span id="medientContactsNum">0</span>)</h3>
        <span class="float-right" id="medientAddContactOptions">
            <span id="medientAddContact">
              <button class="btn btn-nobg yellow" id="medientAddContactBtn">
                <i class="fas fa-user-plus"></i>
              </button>
            </span>
            <span id="medientAddContactSave" style="display: none;">
                <button class="btn btn-nobg green" id="medientAddContactSaveBtn"><i class="fas fa-check"></i></button>
                <button class="btn btn-nobg red" id="medientAddContactCancelBtn"><i class="fas fa-times"></i></button>
            </span>
      </div>
    </div>
     
        <div class="row" style="padding-top: 10px;">
         <div class="col-md-6">
          <h3>Voortgang</h3>
          <div id="medientTargets">
            
          </div>
         </div>
         <div class="col-md-6">
           <h3>Evaluatie</h3>
           
           <div id="overviewMedientEvaluation" class="p-2"></div>
           <div class="p-2"  style="padding: 15px;">
            <button id="addMedientEvaluation" class="btn btn-nobg btn-block border-dashed muted left"><i class="fas fa-plus"></i> Evaluatie toevoegen</button>
         
           </div>
           </div>
        </div>   
        
</section>
<div style="display: none;" id="medientDashboard_templates">
  <div class="medientContactItem">
    <div class="float-right medientContactOptions">
      <div class="medientContactEdit">
          <div class="btn-group medientEditDeleteContact" role="group" aria-label="Basic example">
          <button class="btn btn-nobg yellow medientEditContact">
              <i class="fas fa-user-edit"></i>
          </button>
          <button class="btn btn-nobg red medientDeleteContact">
              <i class="fas fa-user-times"></i>
          </button>
          </div>
        </div>
      <div class="medientContactEditSave" style="display: none;">
          <button class="btn btn-nobg green medientContactEditSaveBtn"><i class="fas fa-check"></i></button>
          <button class="btn btn-nobg red medientAddContactEditCancelBtn"><i class="fas fa-times"></i></button>
      </div>
  </div>
    <div class="form-group">
      <label class="medientRelation"></label>
      <input type="text" class="form-control" class="medientContactName" disabled>
    </div>
  </div>
  <div id="medientContact">
    <div class="float-right medientContactOptions">
        <div class="medientContactEdit">
            <div class="btn-group medientEditDeleteContact" role="group" aria-label="Basic example">
            <button class="btn btn-nobg yellow medientEditContact">
                <i class="fas fa-user-edit"></i>
            </button>
            <button class="btn btn-nobg red medientDeleteContact">
                <i class="fas fa-user-times"></i>
            </button>
            </div>
          </div>
        <div class="medientContactEditSave" style="display: none;">
            <button class="btn btn-nobg green medientContactEditSaveBtn"><i class="fas fa-check"></i></button>
            <button class="btn btn-nobg red medientAddContactEditCancelBtn"><i class="fas fa-times"></i></button>
        </div>
    </div>
      
      <input type="hidden" id="medient">
      <div class="form-group">
          <label for="first_name">Voornaam</label>
          <input type="text" class="form-control" id="first_name" disabled>
      </div>
      <div class="form-group">
          <label for="last_name">Achternaam</label>
          <input type="text" class="form-control" id="last_name" disabled>
      </div>
      <div class="form-group">
          <label for="exampleInputEmail1">Relatie</label>
          <input type="text" class="form-control" id="relation" disabled>
      </div>
      <div class="form-group">
          <label for="exampleInputEmail1">E-mail</label>
          <input type="text" class="form-control" id="email" disabled>
      </div>
      <div class="form-group">
          <label for="exampleInputEmail1">Mobiel</label>
          <input type="text" class="form-control" id="mobile" disabled>
      </div>
      
  </div>
  <form id="medientPersonalInfoEdit">
      <input type="hidden" id="id">
      <div class="form-group">
          <label for="firstName">Voornaam</label>
          <input type="text" class="form-control" id="firstName" disabled>
      </div>
      <div class="form-group">
          <label for="lastName">Achternaam</label>
          <input type="text" class="form-control" id="lastName" disabled>
      </div>
      <div class="form-group">
          <label for="exampleInputEmail1">E-mail</label>
          <input type="text" class="form-control" id="email" disabled>
      </div>
      <div class="form-group">
          <label for="exampleInputEmail1">Mobiel</label>
          <input type="text" class="form-control" id="mobile" disabled>
      </div>
      <div class="form-group">
          <label for="exampleInputEmail1">Laatste Indicatie</label>
          <div id="indicationContainer">
            <input type="text" class="form-control" id="indication" data-provide="datepicker" disabled>
          </div>
          
      </div>
     
  </form>
 
</div>