<section id="accountDashboard" class="container-fluid">

      <form id="accountInfo">
        <input type="hidden" id="id" />
        <input type="hidden" name="profile" id="profile" value="medient" />
        <div class="form-group">
          <label for="profile">Profiel</label>
          <select id="profileSelect" class="form-control">
            <option value="medient">Medient</option>
            <option value="teammember">Team Member</option>
          </select>
        </div>
        <div class="form-group">
          <label for="firstName">Voornaam</label>
          <input type="text" class="form-control" id="firstName" />
        </div>
        <div class="form-group">
          <label for="lastName">Achternaam</label>
          <input type="text" class="form-control" id="lastName" />
        </div>
        <div class="form-group">
          <label for="username">Gebruikersnaam</label>
          <input type="text" class="form-control" id="username" />
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="text" class="form-control" id="email" />
        </div>
        
        
      </form>
      <span id="accountSave">
        <button class="btn btn-outline-success" id="accountSaveBtn"><i class="fas fa-check"></i> Opslaan</button>
        <!--<button class="btn btn-outline-secondary" id="accountEditCancelBtn"><i class="fas fa-times"></i> Annuleren</button>-->
        <a href="#accounts" class="btn btn-outline-secondary"><i class="fas fa-times"></i> Annuleren</a>
      </span>

</section>
