<section class="pageContent" id="targets">
    <section class="pageHeader">
            <h4 class="pageName name"></h4>
            <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item" aria-current="page"><a href="#">Home</a></li>
                      <li class="breadcrumb-item name active" aria-current="page"></li>
                    </ol>
                  </nav>
        </section>
    <div class="row">
        <div class="col-md-8">
            <span class="h2">Navigeren:</span>
            <div class="box" style="position: absolute; right: 10%; top: 0;">
                <div class="container-1">
                  <span class="icon text-muted" style="position: absolute; top: 50%; margin-top: -12px; right: 30px;"><i class="fa fa-search"></i></span>
                  <input type="search" id="targetsSearch" class="form-control shadow" style="background: none; width: 400px;  padding-left: 15px;" placeholder="Zoek in alle" />
                </div>
              </div>
        </div>

      
    </div>
    <div>
            <ul class="nav nav-tabs" id="targetCategoriesTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active h4" style="margin-bottom:0 !important;" href="#workSubjects" data-toggle="tab"  role="tab" aria-controls="workSubjects" aria-selected="true">Werk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h4" style="margin-bottom:0 !important;" href="#personalSubjects" data-toggle="tab"  role="tab" aria-controls="personalSubjects" aria-selected="false">Persoonlijk</a>
                </li>
            </ul>
            <div class="tab-content" id="targetCategoriesContent">
                <div class="tab-pane fade show active" id="workSubjects" data-category="work" role="tabpanel" aria-labelledby="work-tab">
                    <div class="row" id="overviewSubjects">
                        <div class="col-md-3" id="addSubject">
                           <p class="h4"><i class="fas fa-plus"></i> Onderwerp </p>
                        </div>
                        
                    </div>
                </div>
                <div class="tab-pane fade" id="personalSubjects" role="tabpanel" aria-labelledby="personalSubjects-tab">
                    <div class="row">
                        
                    </div>
                </div>
               
            </div>
            <div id="overviewTargetLevels" style="display: none;">
                <p class="h4 green bold" id="overviewTargetSubjectName"></p>
                <button class="btn yellow overviewTargetName" id="overviewTargetBtn"></button>
                <div class="row">
                    <div id="overviewTargetLevels" class="col-md-6">
                        <div id="overviewTargetLevelsBtns">

                        </div>
                        <button id="addTargetLevel" class="btn btn-nobg"><i class="fas fa-plus"></i> Nieuw Level toevoegen</button>
                    </div>
                    <div id="overviewTargetAssignMedient" class="col-md-6">
                        <p class="h4 green bold"><span class="overviewTargetName"></span> toewijzen aan:</p>
                        <input class="form-control" id="overviewTargetAssignMedientInput"><button class="btn">Toewijzen</button>
                    </div>
                </div>
               
            </div>
    </div>
            
    
</section>