<section class="pageContent" id="targets">
    <section class="pageHeader">
        <h4 class="pageName name"></h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="#">Home</a></li>
                <li class="breadcrumb-item name" aria-current="page"><a href="#targets">Leerdoelen</a></li>
                <li class="breadcrumb-item name active" aria-current="page">Nieuw Leerdoel Aanmaken</li>
            </ol>
        </nav>
    </section>
    <div class="row">
            <div class="col-md-4">
                    <h3>Opbouw Leerdoel</h3>
                    <p class="text-muted">Kies de categorie waar het leerdoel onder valt</p>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-primary active">
                              <input type="radio" name="options" id="option1" autocomplete="off" checked> Werk
                            </label>
                            <label class="btn btn-primary">
                              <input type="radio" name="options" id="option2" autocomplete="off"> Priv&eacute;
                            </label>
                         
                    </div>
                    <div class="form-group">
                        <label class="text-muted" for="targetChapter">Kies het hoofdstuk waar het leerdoel onder valt:</label>
                        <select class="form-control" id="targetChapter"></select>
                            
                    </div>
                    <div class="form-group">
                        <label class="text-muted" for="exampleInputEmail1">Kies een naam voor het onderwerp:</label>
                        <input class="form-control" type="text" id="targetSubjectName">
                                
                    </div>
                    <div class="form-group">
                        <label class="text-muted" for="exampleInputEmail1">Uit welke levels bestaat het onderwerp?</label>
                        <input class="form-control" type="text" id="targetSubjectName">
                                
                    </div>
                    
                   
            </div>
    </div>

        
</section>